
li {
    font-size:1.2em;
}
blockquote {
  background:#dfe6e9;
  border-left:10px solid #ccc;
  margin:1.5em 10px;
  padding:.5em 10px;
  quotes:"\201C""\201D""\2018""\2019";
  border-left: 10px solid #0984e3;
}
blockquote:before {
  color:#0984e3;
  content:open-quote;
  font-size:4em;
  line-height:.1em;
  margin-right:.25em;
  vertical-align:-.4em;
}
blockquote p {
  display:inline;
}


@media screen and (min-width: 650px) {
h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 64px; font-weight: 700; line-height: 64px; margin: 0 0 0; text-align: left; text-transform: uppercase; }
#block{
border:0;
margin: auto;
width: 80%;
padding: 10px;
background-color: #fbfbfb;
border-color: #fbfbfb;
}
.bins {
    width:100%;
    height: 450px;
}
}
@media screen and (max-width: 649px) {
    #block{
border:0;
margin: auto;
width: 100%;
padding: 10px;
background-color: #fbfbfb;
border-color: #fbfbfb;
}
h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 44px; font-weight: 700; line-height: 54px; margin: 0 0 0; text-align: left; text-transform: uppercase; }

.bins {
    width:100%;
    height: 450px;
}
}
@media screen and (max-width: 440px) {
h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 30px; font-weight: 700; line-height: 24px; margin: 0 0 0; text-align: left; text-transform: uppercase; }


}
h2 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 28px; font-weight: 700; line-height: 48px; margin: 0 0 24px;text-align:left; text-transform: uppercase; }


p { color: #111; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; margin: 0 0 48px; }


a { color: #990000; text-decoration: none; }


a:hover { text-decoration: underline }


.date { color: #111; display: block; font-family: 'Open Sans', sans-serif; font-size: 16px; position: relative; text-align: center; z-index: 1; }


.date:before { border-top: 1px solid #111; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }


.author { color: #111; display: block; font-family: 'Open Sans', sans-serif; font-size: 16px; padding-bottom: 38px; position: relative; text-align: center; z-index: 1; }


.author:before { border-top: 1px solid #111; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }


.date span,

.author span { background: #fdfdfd; padding: 0 10px; text-transform: uppercase; }


.line { border-top: 1px solid #111; display: block; margin-top: 60px; padding-top: 50px; position: relative; }


.read-more { -moz-border-radius: 50%; -moz-transition: all 0.2s ease-in-out; -webkit-border-radius: 50%; -webkit-transition: all 0.2s ease-in-out; background: #111; border-radius: 50%; border: 10px solid #fdfdfd; color: #fff; display: block; font-family: 'Open Sans', sans-serif; font-size: 14px; height: 80px; line-height: 80px; margin: -40px 0 0 -40px; position: absolute; bottom: 0px; left: 50%; text-align: center; text-transform: uppercase; width: 80px; }


.read-more:hover { background: #990000; text-decoration: none; }
body {
background-color:#fbfbfb;
}
.full-circle {
opacity: 0.7;
 position: absolute;
    background-color:red;
    height:30px;
    width:30px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.box {
opacity: 0.7;
background-color: yellow;
    height:130px;
    width:130px;
position: absolute;
 display: none;
top: 18px;left: 32px;

}

.full-circle:hover { 
    background-color: yellow;
    cursor:pointer;
}

.circle-border {
    background-color:#c06;
    border: 3px solid #000;
    height:150px;
    width:150px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.transparent-circle {
    background-color: rgba(204, 0, 102, 40);
    border: 3px solid #000;
    height:150px;
    width:150px;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.half-circle {
    background-color:#c06;
    height:150px;
    width: 75px;
    -moz-border-radius: 150px 0 0 150px;
    border-radius: 150px 0 0 150px;
}

.quarter-circle {
    background-color:#c06;
    height:150px;
    width: 150px;
    -moz-border-radius: 150px 0 0 0;
    border-radius: 150px 0 0 0;
}
article::first-letter {
    font-size: 500%;
    color:#0984e3;
}


.navbar-default {
border:0;
background-color: #fbfbfb;
border-color: #fbfbfb;
border-bottom-color:black;
}
#wpis {
border:1px;
padding:50px 15px 15px 15px;
}

.shot {
opacity: 0.7;
 position: absolute;
    background-color:red;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.goal {
opacity: 0.7;
 position: absolute;
    background-color:blue;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}
.highlight{
background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
}
.col-centered{
    float: none;
    margin: 0 auto;
}
